* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    &.primary-navigation {
      margin: 0 auto;
      display: block;
    
      padding: 10px 0 0 0;  
      text-align: center;
      font-size: 15px;
  
      ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #f57f7f86;
        display: inline-block;
        padding: 0 15px;
        position: relative;
        text-decoration: none;
        text-align: center;
      }
  
      li a {
        color: rgb(255, 255, 255);
      }
  
      li a:hover {
        color: #DB4D57;
      }
  
      li:hover {
        cursor: pointer;
      }
  
      ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
  padding-left: 0;
        left: 0;
        display: none;
        background: #171724;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        min-width: 250px;
        text-align: left;
        padding-top: 20px;
        box-shadow: 0px 0px 20px -1px #0a000069;
      }
  
      ul li ul li {
        clear: both;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
  
      ul li ul li a:hover {
        padding-left: 10px;
        border-left: 2px solid #fff;
        transition: all 0.3s ease;
      }
    }
  }
  
  a {
  
      text-decoration: none;
  
      &:hover {
          color: #3CA0E7;
      }
   
  }
  
   ul li ul li a { transition: all 0.5s ease; }













  /* .navbar {
    list-style-type: none;
    color: #fff;
    margin: 10%;
    padding: 0;
    display: inline;
    font-weight: 300;
    font-size: 115%;
  } */


  li{
    float: left;
    text-decoration: none;
  }

  html {
    height: 100%;
    scroll-behavior: smooth; 
  }
  
  body {

    min-height: 100%;
    background: #1B1B25;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  
  .container {
    max-width: 700px;   
    background: #00000011;
    margin: 0px auto 0px; 
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
  }
  
  .header {
    margin-bottom: 30px;
    
    .full-name {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    
    .first-name {
      font-weight: 700;
    }
    
    .last-name {
      font-weight: 300;
    }
    
    .contact-info {
      margin-bottom: 20px;
    }
    
    .email {
      color: #d2c4e4;
      font-weight: 300;
    } 
    
    .position {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      text-decoration: underline;
    }
  }
  
  
  .details {
    line-height: 20px;
    
    .section {
      margin-bottom: 40px;  
    }
    
    .section:last-of-type {
      margin-bottom: 0px;  
    }
    
    .section__title {
      letter-spacing: 2px;
      color: #DB4D57;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    
    .section__list-item {
      margin-bottom: 40px;
    }
    
    .section__list-item:last-of-type {
      margin-bottom: 0;
    }
    
    .left ,
    .right {
      vertical-align: top;
      display: inline-block;
    }
    
    .left {
      width: 60%;    
    }
    
    .right {
      width: 39%;    
    }
    
    .name {
      font-weight: bold;
    }
    
    a {
      color: #000;
      font-style: italic;
      text-decoration: underline;
      color: inherit;
    }
    
    a:hover {
      text-decoration: underline;
    }
      
    .skills__item {
      margin-bottom: 10px;  
    }
    
    .skills__item .right {
      input {
        display: none;
      }
      
      label {
        display: inline-block;  
        width: 20px;
        height: 20px;
        background: #C3DEF3;
        border-radius: 20px;
        margin-right: 3px;
      }
      
      input:checked + label {
        background: #DB4D57;
      }
    }
}



.center {
    display: table;
    width: 100%;
    height: 100vh;
  }
  
  #social-test {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    h2 {
      color: #fff;
      font-weight: 100;
    }
    .social {
      padding-left: 0px;
    }
    li {

      list-style-type: none;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      padding: 2%;
      border: 1px solid rgba(233, 120, 120, 0.6);
      cursor: pointer;
      margin-left: 10px;
      margin-bottom: 20px;
      transition: ease .3s;
      color: rgba(255, 140, 174, 0.6);
      &:hover {
        color: rgb(219, 77, 77);
        border: 1px solid #DB4D57;
      }
    }
  }
  
  .social:hover > li {
    opacity: 0.5;
  }
  
  .social:hover > li:hover {
    opacity: 1;
  }

li, a{color: inherit;}

.hyperlink{
  color: rgb(255, 132, 132);
&:hover{
  color: rgb(242, 255, 122);
}
}